
<div ng-app="myApp" ng-controller="baseCtrl">


<ion-tabs class="tabs-icon-top tabs-positive">

<ion-tab title="首页"
           icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    <ion-header-bar class="bar-positive">
      <a class="button" ng-click="toggle();">切换</a>
      <h1 class="title">首页</h1>
    </ion-header-bar>




    <ion-side-menus>

      <ion-side-menu-content>
        <ion-header-bar class="bar-positive">
          <a class="button" ng-click="toggle();">切换</a>
          <h1 class="title">ion-side-menu-content</h1>
        </ion-header-bar>

        <ion-content class="calm-bg">
        </ion-content>
      </ion-side-menu-content>

      <ion-side-menu side="left" width="120">
        <ion-content class="balanced-bg">
        </ion-content>
      </ion-side-menu>

      <ion-side-menu side="right" width="120">
        <ion-content class="energized-bg">
        </ion-content>
      </ion-side-menu>

    </ion-side-menus>








  </ion-tab>

  <ion-tab title="交流"
           icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline">
    <ion-header-bar  class="bar-positive">
      <h1 class="title">交流</h1>
    </ion-header-bar>
  </ion-tab>

  <ion-tab title="设置"
           icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <ion-header-bar  class="bar-positive">
      <h1 class="title">设置</h1>
    </ion-header-bar>
  </ion-tab>

</ion-tabs>

</div>
